.dates-card {
  background-color: #FFFFFF;
  border: 2px solid #D0D0D0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.dates-card .ant-card-head {
  border-bottom: 1px solid #D0D0D0;
  background-color: #FAFAFA;
}

.sort-button {
  margin-top: 16px;
  background-color: #1890FF;
  border-color: #1890FF;
}